<html>
  <head>
    <title>Listas de Tarefas</title>
  </head>
  <body>
    <h1>Tua Lista de Tarefas</h1>

    <form method="POST">
      <input
        name="tarefa_texto"
        id="id_nova_tarefa"
        placeholder="Escreva uma nova tarefa"
        type="text"
      />
      {% csrf_token %}
    </form>

    <table id="id_tabela_lista">
      {% for item in items %}
      <tr>
        <td>{{ forloop.counter }}: {{item.texto}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
